@page "/Agents/Edit/{id}"
@model QT1_WEB.Pages.Agents.EditModel
@{
}
@{
    var message = ViewData["Message"]?.ToString();
}
<form method="post">
    <h1 class="mb-3">Edit Agents</h1>
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" role="alert">@message</div>
    }
    <div class="mb-3">
        <label class="form-label">Agents ID</label>
        <input type="text" class="form-control" asp-for="Customers.CustId" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Agents Name</label>
        <input type="text" class="form-control" asp-for="Customers.CustName" />
    </div>

    <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Customers.Address" />
    </div>

    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" asp-page-handler="Update">Update</button>
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>

    </div>
</form>
